lifelines
autograd==1.2
billiard==3.5.0.3
certifi==2018.11.29
chardet==3.0.4
conda==4.3.16
Django==2.1.3
easydev==0.9.37
ephem==3.7.6.0
gevent==1.3.7
html5lib==1.0.1
idna==2.8
imgkit
jupyter-core==4.4.0
lxml==4.2.5
matplotlib==3.0.3
more-itertools==4.3.0
mygene==3.0.0
numpy==1.16.3
pandas==0.24.2
pdfkit
patsy==0.5.1
py==1.7.0
python-dateutil==2.8.0
python-debian==0.1.32
pytz==2019.1
requests==2.21.0
requests-cache==0.4.13
requests-toolbelt==0.8.0
requests-unixsocket==0.1.5
scikit-learn==0.20.0
simplejson==3.13.2
subprocess
urllib3==1.24.1
webencodings==0.5.1
wget==3.2
